**/node_modules
**/*.log
**/Dockerfile*
**/docker-compose*
.dockerignore
**/.git
**/.gitignore
**/README.md
LICENSE
.vscode
**/dist
coverage
**/build
website
.hadolint.yml
.config/
.cache
.local
.circleci/
.github/
.ash_history
.npm
config/schema/*.compiled.js
config/schema/*.json
