**/node_modules
**/*.log
**/Dockerfile*
**/docker-compose*
**/README.md
**/dist
coverage
**/build
website
config/schema/*.compiled.js
config/schema/*.json
renovate.json
Procfile

# ignore all dotfiles except env files
.*
!*.env*
!.npmrc
