**/node_modules
**/*.log
**/Dockerfile*
**/docker-compose*
**/README.md
LICENSE
**/dist
coverage
**/build
website
config/schema/*.compiled.js
config/schema/*.json

# ignore all dotfiles except env files
.*
!*.env*
