version: 2.1

orbs:
  node: circleci/node@4
  slack: circleci/slack@3
  jira: circleci/jira@1

resource_class: small

aliases:
  - &runner
    executor:
      name: node/default
      tag: lts
  - &size
    resource_class: small

jobs:
  lint:
    <<: *runner
    <<: *size
    steps:
      - checkout
      - &install
        node/install-packages:
          include-branch-in-cache-key: false
          override-ci-command: npm ci --prefer-offline --no-audit
      - run:
          name: Lint (Prettier)
          command: npm run lint:prettier
      - run:
          name: Lint (ESLint)
          command: npm run lint:eslint -- --format junit --output-file reports/eslint/results.xml
      - &retrieve-junit
        store_test_results:
          path: reports
  test-frontend:
    <<: *runner
    <<: *size
    steps:
      - checkout
      - *install
      - run:
          name: Test CRA
          command: npm run test:nowatch:frontend -- -- --ci --runInBand --reporters=jest-junit --reporters=default
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/jest-frontend
      - *retrieve-junit
      - slack/notify-on-failure
      - jira/notify
  test-backend:
    <<: *size
    docker:
      - image: cimg/node:lts
        environment:
          DATABASE_URL: postgres://knex@localhost/blink
          REDIS_URL: redis://localhost
      - image: circleci/postgres:alpine-ram
        environment:
          POSTGRES_DB: blink
          POSTGRES_USER: knex
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: circleci/redis:alpine
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Test Express
          command: npm run test:nowatch:backend -- --ci --runInBand --reporters=jest-junit --reporters=default
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/jest-backend
      - *retrieve-junit
      - slack/notify-on-failure
      - jira/notify

workflows:
  build-and-test:
    jobs:
      - lint
      - test-frontend: &test-config
          context: shared-vars
          requires:
            - lint
      - test-backend:
          <<: *test-config
