name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '!master'

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo

    strategy:
      matrix:
        node-version:
          - 8.x
          - 10.x
          - 12.x

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install and test
        run: |
          yarn --frozen-lockfile
          yarn test
        env:
          CI: true
